APP_NAME= {{ getv "/search/appname" }}
APP_ENV= {{ getv "/search/appenv" }}
APP_KEY= {{ getv "/search/appkey" }}
APP_DEBUG= {{ getv "/search/appdebug" }}
APP_LOG_LEVEL= {{ getv "/search/apploglevel" }}
APP_URL= {{ getv "/search/appurl" }}

DB_CONNECTION=pgsql
DB_HOST= {{ getv "/search/db_host" }}
DB_PORT= {{ getv "/search/db_port" }}
DB_DATABASE=search
DB_USERNAME= {{ getv "/search/db_username" }}
DB_PASSWORD= {{ getv "/search/db_password" }}

BROADCAST_DRIVER= {{ getv "/search/broadcast_driver" }}
CACHE_DRIVER=file
SESSION_DRIVER= {{ getv "/search/session_driver" }}
QUEUE_DRIVER=sync

REDIS_HOST= {{ getv "/search/cachehost" }}
REDIS_PASSWORD= {{ getv "/search/cachepassword" }}
REDIS_PORT= {{ getv "/search/cacheport" }}

MAIL_DRIVER= {{ getv "/search/mail_driver" }}
MAIL_HOST= {{ getv "/search/mail_host" }}
MAIL_PORT= {{ getv "/search/mail_port" }}
MAIL_USERNAME= {{ getv "/search/mail_username" }}
MAIL_PASSWORD= {{ getv "/search/mail_password" }}
MAIL_ENCRYPTION= {{ getv "/search/mail_encryption" }}

PUSHER_APP_ID= {{ getv "/search/pusher_app_id" }}
PUSHER_APP_KEY= {{ getv "/search/pusher_app_key" }}
PUSHER_APP_SECRET= {{ getv "/search/pusher_app_secret" }}

ELASTICSEARCH_HOST= {{ getv "/search/elasticsearch_host" }}
ELASTICSEARCH_PORT= {{ getv "/search/elasticsearch_port" }}
ELASTICSEARCH_INDEX= {{ getv "/search/elasticsearch_index" }}

MONGODB_CONNECTION=mongodb
MONGODB_HOST= {{ getv "/search/mongodb_host" }}
MONGODB_PORT= {{ getv "/search/mongodb_port" }}
MONGODB_DATABASE=wordery
MONGODB_USERNAME= {{ getv "/search/mongodb_username" }}
MONGODB_PASSWORD= {{ getv "/search/mongodb_password" }}